body {
    background-image: url('../../resources/trans2.webp');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}

#first {
   
    background: rgb(255,255,255, 0.6);

    color:black;
    font-weight: bold;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#sec0, #sec1, #sec2, #sec3, #sec4, #sec5, #sec6, #sec7, #sec8 , #sec9, #sec10, #sec11{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    
}




#h2 {
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#nome, #cognome, #nazione, #pass, #pass2 {

    border-style: solid;
    border-radius: 15px;
    height: 30px;
    width: 200px;
    
}

#sub {
    

    background-color:lightblue;
    color: black;
    font-size: medium;
    border-radius: 5px;
    border-color: cadetblue;
    height: 30px;
    width: 110px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

#tasto {

    margin: 15px;
    display: flex;
    justify-content: center;

}

#nascita {

    border-radius: 15px;
    width: 200px;
    height: 30px;
    border-color: grey;


}














