@import "variables";

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}


#hero_games{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  #games_section{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}

#first_game,#second_game,#third_game{
  height: 100%;
  width: 30%;
  @include flex-column(space-around);
  border-radius: 1rem;
  font-family: "Syne", sans-serif;
}

#first_game{
  background-color: $green_light;
  color: $green_strong;

}

#second_game{
  background-color: $yellow_light;
  color: $yellow_strong;
}

#third_game{
  background-color: $pink_light;
  color: $pink_strong;
}

h2{
  text-align: center;
}

.p_wrapper{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#first_footer,#second_footer,#third_footer{
  height: 20%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #4ED19F;
  border-radius: 1rem;
  @include flex-row(space-around,center);
}

#first_footer {
  background-color: $green_medium;
;
  span{
    font-family: "Syne", sans-serif;
    color: $green_light;
    font-weight: bold;

  }

  i{
    color: $green_light;
    font-size: 2rem;


  }

}

#second_footer{
  background-color: $yellow_medium;

  span{
    font-family: "Syne", sans-serif;
    color: $yellow_light;
    font-weight: bold;
  }
  i{
    color: $yellow_light;
    font-size: 2rem;

  }


}

#third_footer{
  background-color: $pink_medium;
;

  span{
    font-family: "Syne", sans-serif;
    color: $pink_light;
    font-weight: bold;

  }

  i{
    color: $pink_light;
    font-size: 2rem;
  }

}

span{
  color: black;
  font-family: "Syne", sans-serif;
}



