@import 'variables';

#second_game_wrap{
  height: 90%;
  width: 100%;
  @include flex-row(space-around);
  gap: 2rem;
  #second_game_card{
    width: 30%;
    height: 90%;
    background-color: $yellow_light;
    border-radius: 2rem;
    @include flex-column(space-around,center);
  }
  #second_game_info{
    width: 50%;
    height: 90%;
    background-color: $yellow_light;
    border-radius: 2rem;

    @include flex-column(space-around);
  }
}

h2,h3{
  font-family: "Syne", sans-serif;
  color: $yellow_strong;
  margin: 0;
  text-align: center;
}

#inizia ,#bottone, #skipbottone{
  outline: none;
  background-color: $yellow_strong;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  border: none;
  color: $yellow_light;
  cursor: pointer;



}

#title{
  margin-top: 3rem;
}

#inizia{
  margin-bottom: 3rem;
}

#inizia{
  width: 80%;
  font-size: 1rem;
  font-weight: bold;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


#bottoni_wrapper{
  width: 100%;
  @include flex-row(space-between);
}

#bottone{
  width: 70%;
  background-color: $yellow-strong;
  font-size: 1rem;
  font-weight: bold;
  border-bottom-left-radius: 1rem;
}
#skipbottone{
  width: 25%;
  background-color: $yellow-medium;
  border-bottom-right-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;

}


#inputUtente{
  outline: none;
  width: 100%;
  padding: 0.5rem;

  margin-bottom: 1rem;
}

#input_wrapper{
  width: 90%;
  @include flex-column();
}

#upper_wrapper{
  width: 90%;
  height: 50%;
  @include flex-column();
}
#img_wrapper{
  width: 100%;
  height: 80%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#box_skips{
  width: 100%;
  height: 20%;
  @include flex-row(space-around,center);
}

i{
  font-size: 30px;
  color: green;
}

.nondisponibile{
  color: red;
}



.centerbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

#finish_content{
  width: 70%;
  height: 50%;
  @include flex-column(space-between,center)
}
#didascalia_wrapper{
  @include flex-column(space-between,center);
  width: 100%;
  height: 30%;
}
#rigioca_wrapper{
  @include flex-column(null,center);
  width: 100%;
  height: 30%;
  gap: 1rem;
}

#bottone_esterno{
  background-color: $yellow-strong;
  width: 20%;
  padding: 1rem;
  font-family: "Syne", sans-serif;
  outline: none;
  border: none;
  color: $yellow_light;
  border-radius: 2rem;
  cursor: pointer;
}
#separatore {
   border-top: 2px solid $yellow_strong;
  width: 40%;
 }

.bx-refresh{
  color: $yellow-strong;
  cursor: pointer;
  font-size: 3rem;

}