@import "variables";


#third_game_wrap{
  height: 90%;
  width: 100%;
  @include flex-row(space-around);
  gap: 2rem;
  #third_game_card{
    width: 40%;
    height: 90%;
    background-color: $pink_light;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #third_game_info{
    width: 40%;
    height: 90%;
    background-color: $pink_light;
    @include flex-column();
    border-radius: 2rem;

  }
}
h3,h4{
  font-family: "Syne", sans-serif;
  color: $pink_strong;
  text-align: center;
}

.img_wrappersx{
  width: 100%;
  height: 70%;
}

.img_wrapperdx{
  width: 100%;
  height: 70%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#wrapper_paesi{
  @include flex-row(space-between);
  height: 50%;
  width: 90%;
}

.paese_wrappersx,.paese_wrapperdx{
  width: 40%;
  gap: 1rem;
  @include flex-column(null,center);
  font-family: "Syne", sans-serif;
}

#bottoni_wrapper{
  width: 60%;
  height: 15%;
  border-radius: 2rem;
  @include flex-row();
}

#higher,#lower{
  width: 50%;
  font-family: "Syne", sans-serif;
  background-color: $pink_medium;
  color: $pink-light;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#higher{
  border-bottom-right-radius: 2rem;
  border-left: 2px solid $pink_strong;
}

#lower{
  border-top-left-radius: 2rem;
}


#third_game_content{
  width: 90%;
  height: 90%;
  @include flex-column(space-between, center);
}

#title{
  margin-top: 2rem;
}

#third_game_content_card{
  width: 90%;
  height: 60%;
  @include flex-column(space-between, center);
}

#inizia{
  margin-bottom: 2rem;
}



#first_chart{
  width: 100%;
  height: 50%;
  display: flex;
}

#currencies_info{
  height: 50%;
  width: 100%;
  @include flex-column(space-around,center)
}

#inizia{
  width: 80%;
  font-size: 1rem;
  font-weight: bold;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  outline: none;
  background-color: $pink_medium;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  border: none;
  color: $pink_light;
  cursor: pointer;

}

.bx-refresh{
  color: $pink-strong;
  cursor: pointer;
  font-size: 3rem;

}

#finish_content{
  @include flex-column(null,center);
}

.bx-money,.bx-sun{
  color: $pink-medium;
  font-size: 2.5rem;
}

#valute_box{
  font-family: "Syne", sans-serif;
  color: $pink-strong;
  @include flex-column();
}
#first_row,#second_row{
  @include flex-row();
  gap: 0.5rem;
  font-size: 1.2rem;
}

#first_paese,#second_paese{
  font-weight: bold;
}