@import 'variables';

#second_game_wrap{
  height: 90%;
  width: 100%;
  @include flex-row(space-around);
  gap: 2rem;
  #second_game_card{
    width: 30%;
    height: 90%;
    background-color: $yellow_light;
    border-radius: 2rem;
    gap: 0rem;
    @include flex-column(space-around);
  }
  #second_game_info{
    width: 50%;
    height: 90%;
    background-color: $yellow_light;
    border-radius: 2rem;

    @include flex-column(space-around);
  }
}

h3{
  font-family: "Syne", sans-serif;
  color: $yellow_strong;
  text-align: center;
}

#inizia, #bottone {
  outline: none;
  background-color: $yellow_strong;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  color: $yellow_light;
  cursor: pointer;


}

#inizia{
  width: 80%;
}

#bottone{
  width: 90%;
}

.img_wrapper{
  width: 80%;
  height: auto;
  margin-right: auto;
  margin-left: auto;

}

img{
  width: 100%;
  height: auto;
  object-fit: cover;
}



#inputUtente{
  outline: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}