@import "variables";


#third_game_wrap{
  height: 90%;
  width: 100%;
  @include flex-row(space-around);
  gap: 2rem;
  #third_game_card{
    width: 50%;
    height: 90%;
    background-color: $pink_light;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #third_game_info{
    width: 30%;
    height: 90%;
    background-color: $pink_light;
    border-radius: 2rem;

    @include flex-column(space-around);
  }
}
h3{
  font-family: "Syne", sans-serif;
  color: $pink_strong;
  text-align: center;
}

.img_wrappersx{
  width: 100%;
  height: 70%;
}

.img_wrapperdx{
  width: 100%;
  height: 70%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#wrapper_paesi{
  @include flex-row(space-between);
  height: 50%;
  width: 90%;
}

.paese_wrappersx,.paese_wrapperdx{
  width: 40%;
  @include flex-column(null,center);
  font-family: "Syne", sans-serif;
}

#bottoni_wrapper{
  width: 50%;
  height: 10%;
  border-radius: 2rem;
  @include flex-row();
}

#higher,#lower{
  width: 50%;
  font-family: "Syne", sans-serif;
  background-color: $pink_medium;
  color: $pink-light;
  outline: none;
  border: none;
  cursor: pointer;
}

#higher{
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-left: 2px solid $pink_strong;
}

#lower{
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}


#third_game_content{
  width: 90%;
  height: 60%;
  @include flex-column(space-around, center);
}