body {
    background-color: white;
}

#ben {
    margin-top: 40px;
    text-align: center;

}

h2{
    font-family: "Syne", sans-serif;
    text-align: center;
}

#title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#containerInfo{
    margin-top: 10px;
    background-color: beige;
    width: 1100px;
    height: 435px;
    border-radius: 25px;
    margin-bottom: 15px;



}

#info {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    align-items: center;

}

#box {
    margin: 10px;
    padding-top: 10px;
}



.up {

    display: flex;
    justify-content: center;
    margin-top: -50px;

    width: 400px;

    flex-direction: column;
    align-items: center;

    border-radius: 30px;
    background-color: beige;

}
#photo {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 90px;
    height: 50px;
    align-items: center;





}

#nomefoto {
    border-style: none;
    background-color: beige;
    width: 200px;
    font-family: "Syne", sans-serif ;
    text-transform: uppercase;
    font-size: large;
    text-align: center;
    align-items: center;
}

#bho {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;


}



#bottone {
    margin-bottom: 10px;
}

#fotolabel{
    display: inline;
    width: 200px;
    background-color:darkgoldenrod;
    color: white;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    padding-top: 7px;
}
#salva{
    width: 100px;
    background-color:darkgoldenrod;
    color: white;
    border-radius: 10px;
    text-align: center;
    height: 40px;
display: none;

    justify-content: center;
}




#lab {
    display: flex;
    justify-content: center;
}

#file {
    display: none;
}

#lol{
    justify-content: center;
    margin-bottom: 10px;

}

#img1 {
    width: 180px;
    height: 180px;
    border-radius: 100%;


}

#imgCont {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#bin {

    display: flex;
    margin-bottom: 2px;
    justify-content: center;
}

#del {
    border-style: none;
    background-color: beige;
}

small{
    color: red;
}


