body {
    background-color: white;
}

#ben {
    margin-top: 80px;
    text-align: center;

}

h2{
    font-family: "Syne", sans-serif;
    text-align: center;
}

#title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#containerInfo{
    margin-top: 10px;
    background-color: beige;
    width: 1100px;
    height: 470px;
    border-radius: 30px;



}

#info {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;

}

#box {
    margin: 10px;
    padding-top: 10px;
}



.up {

    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    width: 500px;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20%;
    background-color: beige;

}
#photo {

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    width: 90px;
    height: 50px;
    align-items: center;





}

#nomefoto {
    border-style: none;
    background-color: beige;
    width: 85px;
    font-family: "Syne", sans-serif ;
    text-transform: uppercase;
    font-size: large;
    text-align: left;
}

#bho {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;


}



#bottone {
    margin-bottom: 10px;
}

#fotolabel{
    display: block;
    width: 200px;
    background-color:darkgoldenrod;
    color: white;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    padding-top: 7px;
}



#lab {
    display: flex;
    justify-content: center;
}

#file {
    display: none;
}

#img1 {
    width: 180px;
    height: 180px;
    border-radius: 100px;

}

#imgCont {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#bin {

    display: flex;
    align-items: start;
    padding-right: 5px;
}

#del {
    border-style: none;
    background-color: beige;
}


