.card-body {
    background-color:cornflowerblue;
}

.form-control {
    background-color: whitesmoke;
}



.chicco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




