#chat-background{
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 200px;
  div{
    background-color: #4ED19F;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    button{
      padding: 0.5rem;
      border-radius: 0.2rem;
      background-color: lightblue;
    }
  }
}



