@import  'variables';

#form {
  @include flex-column;
  width: 100%;
  height: 100%;
  background-color: inherit;

}

#inputgroup{
  @include flex-column;
  justify-content: space-between;
  height: 84%;
  width: 100%;
  gap: 0.5rem;
}

#inputgroup > div {
  width: 100%;
  height: 20%;
  @include flex-column;
  justify-content: space-between;
}


#inputgroup > div > div{

  border: 2px solid black;
  width: 90%;
  height: 60%;
  border-radius: 0.4rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;


}


h2 {
  height: 8%;
  font-size: 20px;
  margin-top: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;

}

input[type="text"], input[type="password"], input[type="date"] {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
}

i, label{
  margin-left: 1rem;
}


button[type = "submit"]{
  width: 60%;
  height: 8%;
  margin: 1.5rem auto;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #4ED19F;
  border-radius: 0.5rem;
  border: 3px solid black;
  font-family: "Montserrat", sans-serif;

}














