$yellow_light : #FEF9E6;
$yellow_strong: #DAAB00;
$pink_light : #FFF2F9;
$pink_strong :  #FF0096;
$green_light : #E9FCF6;
$green_strong : #119C75;

@mixin flex-row($justify-content : null, $align-items : null){
  display: flex;
  flex-direction: row;
  @if $justify-content != null {
    justify-content: $justify-content;
  }
  @if $align-items != null {
    align-items: $align-items;
  }
}

@mixin flex-column($justify-content : null, $align-items : null){
  display: flex;
  flex-direction: column;
  @if $justify-content != null {
    justify-content: $justify-content;
  }
  @if $align-items != null {
    align-items: $align-items;
  }
}

